<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hewen.mapper.StudentMapper">
<!--    <resultMap id="myMap" type="com.hewen.pojo.Student">-->
<!--        <result column="id" property="id"/>-->
<!--        <result column="sn" property="name"/>-->
<!--&lt;!&ndash;        <result column="tn" property="tName"/>&ndash;&gt;-->
<!--    </resultMap>-->
<!--    <select id="getStudent" resultType="com.hewen.pojo.Student">-->
<!--        select *-->
<!--        from student s,-->
<!--             teacher t-->
<!--        where s.tid = t.id-->
<!--    </select>-->
<!--    <select id="getStudent" resultType="com.hewen.pojo.Student">-->
<!--        select *-->
<!--        from student s-->
<!--    </select>-->
<!--    第一种方式：按照查询嵌套处理-->
    <select id="getStudent" resultMap="ST">
        select *
        from student s
    </select>
    <resultMap id="ST" type="Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
<!--        复杂的属性需要单独处理-->
<!--        对象：association，集合：collection-->
        <association property="teacher" column="tid" javaType="com.hewen.pojo.Teacher" select="getTeacher"/>
<!--
javaType：
一个 Java 类的全限定名，或一个类型别名（关于内置的类型别名，可以参考上面的表格）。
如果你映射到一个 JavaBean，MyBatis 通常可以推断类型。
然而，如果你映射到的是 HashMap，那么你应该明确地指定 javaType 来保证行为与期望的相一致。
为什么下面可以接收id，实际上他可以接收任何值
-->
    </resultMap>
<!--    查询所有的学生信息，根据查询出来的tid查找对应的老师-->
    <select id="getTeacher" resultType="Teacher">
        select * from teacher where id = #{id}
    </select>
<!--这里的id可以写成任意格式-->
    <!--    第二种，按照结果嵌套处理-->
    <select id="getStudent2" resultMap="ST2">
        select s.id sid,s.name sname,t.name tname
        from student s,
             teacher t
        where s.tid = t.id
    </select>
    <resultMap id="ST2" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result column="tname" property="name"/>
        </association>
    </resultMap>
</mapper>