<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hewen.mapper.TeacherMapper">
<!--    select s.id sid, s.name sname, t.name tname, t.id id-->
<!--    from teacher t,-->
<!--    student s-->
<!--    where t.id = s.id-->
<!--    按结果嵌套查询-->
    <select id="getTeacher" resultMap="TS">
        select s.id sid, s.name sname, t.name tname, t.id id
        from student s,teacher t
        where t.id = s.id and t.id=#{tid}
    </select>
    <resultMap id="TS" type="Teacher">
        <result column="tid" property="id"/>
        <result column="tname" property="name"/>
<!--        javaType指定属性
而集合中的泛型信息，我们使用ofType获取，其实还可以使用Gson来获取的-->
        <collection property="students" ofType="Student">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>
</mapper>